extends layout

block content
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        a.navbar-brand(href='/') Uploader Test
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li.active
          a(href='/list') File List

  div.container
    div.alert.alert-warning.alert-dismissable#listAlert
      button(type='button').close
        span(aria-hidden='true') &times;
        span.sr-only Close
      span
        strong Error!
        | Fail to delete file
    ul.list-group#fileList
      each filename in files
        li.list-group-item
          button.btn.btn-danger DELETE
          a(href=filename)= filename
